openapi: 3.1.0
# jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/2024-11-10

info:
  title: Hamish Weir Shop API
  version: "0.1"

servers:
  - url: "https://shop.hamishweir.uk"
    description: Primary production server
  - url: "/"
    description: Local development

paths:
  /calculateOrder:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: wow
          content:
            application/json:
              schema:
                type: object
                properties:
                  linePrices:
                    type: array
                    properties:
                      unitPrice:
                        type: number
                      linePrice:
                        type: number
  /productPrice:
    post:
      summary: Gets the price of a product
      operationId: getPriceById
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  $ref: "#/components/schemas/Product"
                config:
                  $ref: "#/components/schemas/Config"
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: number
                  available:
                    type: boolean

  /createStripePayment:
    post:
      summary: Initiates the payment flow
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - order
                - successUrl
              properties:
                order:
                  $ref: "#/components/schemas/Order"
                successUrl:
                  type: string
                url:
                  type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /generatePreSignedUploadUrl:
    post:
      summary: Generates a URL to upload a product file to S3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - type
              properties:
                filename:
                  type: string
                type:
                  type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /fulfillOrder:
    post:
      summary: Triggers order fulfillment process.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
              properties:
                orderId:
                  type: string
      responses:
        "200":
          description: Ok
        "500":
          $ref: "#/components/responses/InternalError"

  /getOrder:
    post:
      summary: Retrieve an existing order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
              properties:
                orderId:
                  type: string
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                paid:
                  type: boolean

components:
  responses:
    InternalError:
      description: Internal Error
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string

  schemas:
    Config:
      type: object
      required:
        - quantity
        - options
        - meta
      properties:
        quantity:
          type: number
        options:
          type: object
          additionalProperties:
            type: string
        meta:
          type: object
          additionalProperties:
            type: string

    OrderProduct:
      type: object
      required:
        - product
        - configs
      properties:
        product:
          $ref: '#/components/schemas/Product'
        configs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Config'

    Order:
      type: object
      required:
        - id
        - products
      properties:
        id:
          type: string
        products:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OrderProduct'

    Product:
      type: object
      required:
        - available
        - created
        - description
        - fulfillment_webhook
        - id
        - meta
        - name
        - price
        - stripe_price_id
        - updated
      properties:
        available:
          type: boolean
        created:
          type: string
          format: date-time
        description:
          type: string
        fulfillment_webhook:
          type:
            - string
            - 'null'
        id:
          type: string
        meta:
          type: object
          additionalProperties: true
        name:
          type: string
        price:
          type:
            - string
            - 'null'
        stripe_price_id:
          type:
            - string
            - 'null'
        updated:
          type: string
          format: date-time

    OrderProductInfo:
      type: object
      required:
        - productId
        - configId
        - fulfillmentStatus
        - options
        - files
      properties:
        productId:
          type: string
        configId:
          type: string
        quantity:
          type: number
        fulfillmentStatus:
          type: string
          enum:
            - failed
            - fulfilled
            - pending
        options:
          type: object
          additionalProperties:
            type: string
        files:
          type: array
          items:
            type: object
            required:
              - name
              - productId
              - url
            properties:
              name:
                type: string
              productId:
                type: string
              url:
                type: string
